@charset "UTF-8";

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-Light.ttf');
    src: url('fonts/Poppins/Poppins-Regular.ttf');
}

:root {
    --azul-escuro: #0c86be;
    --laranja: #e79120;
    --laranja-escuro: #ec8601;
    --cinza-escuro: #cac9c9;
    --cinza-claro:#f7f7f7;
    --branco: #fff;
    --preto: #000;
    --font: 'Poppins';

}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    font-size: 1em;
    background: var(--cinza-claro);
}

.container {
    margin: auto;
    margin-top: 10px;
    overflow: hidden;
    width: 100vw;
    max-width: 350px;
    height: 100vh;
    max-height: 650px;
    
}

h1 {
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 30px;
    color: var(--laranja);
    
}

form p {
    font-weight: 600;
    font-size: 1.1em;
    text-transform: uppercase;
    text-align: center;
    margin: 5px 0px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
    background: var(--cinza-escuro);
    

    
}

#altura,#largura {
    width: 250px;
    height: 30px;
    border-radius: 3px;
    border: none;
    outline:none ;
    color: var(--preto);
    text-align: center;
    font-weight: 600;  
}

.radio h2{
    font-size: 1.1em;
    font-weight: 600;
    text-align: start;
    text-transform: uppercase;
    margin: 10px;
}

#input-radio{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.botoes{
    margin: 5px 0px;
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: space-evenly;
    

}

.containerbotao{
    margin: 10px 0px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 110px;
    
}

#botaocalcular,#botaolimpar{
    padding: 8px 10px;
    font-size: 1em;
    border-radius: 3px;
}

#botaocalcular{
    background:var(--laranja);
    color: var(--branco);
    font-weight: 600;
}

#botaolimpar{
    background:var(--azul-escuro);
    color: var(--branco);
    font-weight: 600;
}

#resultado-final{
    margin-top: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: var(--cinza-escuro);
    height: 200px;
}

#resultado,#tijolos{
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
}

#area-parede,#total{
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
    
}