* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #000000;
    text-align: center;
    padding: 20px;
    line-height: 1.6;
}

h1 {
    font-size: 2.8em;
    color: #243241;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    font-size: 1.2em;
    margin-bottom: 25px;
    color: #000000;
}

form {
    background-color: #ecf0f1;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-bottom: 30px;
    width: 90%;
    max-width: 500px;
}

input[type="number"] {
    width: 85%;
    padding: 12px;
    margin: 15px 0;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: 1.1em;
    color: #2c3e50;
    background-color: #fff;
    transition: border-color 0.3s;
}

input[type="number"]:focus {
    border-color: #3498db;
    outline: none;
}

input[type="button"],
input[type="reset"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

input[type="button"]:hover,
input[type="reset"]:hover {
    background-color: #52b929;
}

.medida-terreno, .tijolo {
    background-color: #ecf0f1;
    padding: 20px;
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.medida-terreno h2,
.tijolo h2 {
    font-size: 1.6em;
    color: #34495e;
    margin-bottom: 10px;
}

#area, #qtd_tijolos8, #qtd_tijolos6, #qtd_tijolos9 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #2c3e50;
}

@media screen and (max-width: 600px) {
    form, .medida-terreno, .tijolo {
        width: 100%;
        padding: 15px;
    }

    h1 {
        font-size: 2em;
    }
    
    input[type="number"] {
        width: 100%;
    }
}
